<body>
  <main>
    <randomly-search-bar
      placeholder="Search Collections"
      buttonTxt="Search"
      (search)="searchCollections($event)"
    ></randomly-search-bar>
    <h4>{{ resultsString }}</h4>

    <div class="spaceHolder" *ngIf="searchResults === undefined">
      <i class="fas fa-sync-alt" *ngIf="loading"></i>
    </div>
    <randomly-poster-container
      *ngIf="searchResults"
      [titles]="searchResults"
      [movieOrShow]="movieOrShow"
      (titleClicked)="navigateToDetails($event)"
    ></randomly-poster-container>
  </main>
</body>
