body {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: scroll;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(10px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

.buttonComponent {
  margin: 20px 0px 0px 0px;
}
.showContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgContainer {
  position: relative;
}
img {
  border: 3px solid lightblue;
  border-radius: 20px;
}
#score {
  position: absolute;
  bottom: 0;
  right: -30px;
  border: 2px solid white;
  background: rgb(179, 179, 179);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showTotals {
  margin-top: 10px;
}
span {
  color: orange;
}
.description {
  text-indent: 10px;
  margin: 10px 0px;
}
.genres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.networks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.networks span {
  color: black;
}
.network {
  border-radius: 0;
  width: 50px;
  border: none;
}
.videosContainer {
  display: none;
}
@keyframes fadeIn {
  to {
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 718px) {
  body {
    height: 90vh;
    background: linear-gradient(
      to bottom,
      orange 50%,
      lightblue 50%,
      lightblue 52%,
      white 52%
    );
  }
  button {
    border: 5px solid lightblue;
    width: 600px;
    font-size: 25px;
  }
  .showContainer {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
    border: 5px solid lightblue;
    border-radius: 20px;
    background: white;
    padding: 10px;
  }
  .showInfo {
    width: 350px;
  }
  .videosContainer {
    margin: 20px 0px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 5px solid lightblue;
    padding: 10px;
    border-radius: 20px;
  }

  .videoContainers {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .video {
    margin: 2px;
  }
}
