header {
  width: 100%;
  height: 45px;
  background: linear-gradient(
    to left,
    lightblue,
    transparent,
    transparent,
    orange
  );
  color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  position: relative;
}
h2 {
  font-size: 17px;
  color: black;
}
.fa-random {
  margin-left: 5px;
  padding: 5px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
  background: linear-gradient(to left top, lightblue, orange);
}

.fa-bars {
  color: orange;
  font-size: 30px;
}

.menuButton {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  text-align: center;
  border-radius: 3px;
  margin-right: 5px;
  border: 2px solid transparent;
}
.open {
  border-color: orange;
  /* animation: spin 0.5s linear; */
}
.close {
  border-color: transparent;
  /* animation: spinBackwards 0.5s linear; */
}
.menuLabel {
  display: none;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinBackwards {
  to {
    transform: rotate(-360deg);
  }
}
@media screen and (min-width: 718px) {
  header {
    height: 60px;
  }
  h2 {
    font-size: 30px;
  }
  .fa-random {
    font-size: 35px;
  }
  .menuLabel {
    display: inline;
    color: orange;
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 5px;
  }
  .menuButton:hover {
    border-color: orange;
  }
}
