img {
  width: 20px;
}
.henryO_logo {
  width: 10px;
  border: 1px solid rgb(0, 0, 56);
  padding: 2px;
}
.containers {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3px;
}
.logoContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  position: relative;
}
#disclaimer {
  font-size: 8px;
}
#version {
  position: absolute;
  font-size: 10px;
  bottom: 3px;
  right: 3px;
}
