<footer>
  <div class="containers">
    <nav>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/search-results">Shows / Movies</a>
        </li>
        <li>
          <a routerLink="/custom">Custom Choices</a>
        </li>
      </ul>
    </nav>
    <div class="logos">
      <div class="logoContainer">
        <p>Powered by :</p>
        <img
          (click)="goToLink(0)"
          src="./../../assets/blue_square_2.svg"
          alt=""
        />
      </div>
      <div class="logoContainer">
        <p>Built by :</p>
        <img
          (click)="goToLink(1)"
          class="henryO_logo"
          src="./../../assets/henryO_logo.svg"
          alt=""
        />
      </div>
    </div>
  </div>

  <p id="disclaimer">
    This product uses the TMDb API but is not endorsed or certified by TMDb
  </p>
  <p id="version">V2.0</p>
  <i class="fas fa-random" (click)="navigateToHome()"></i>
</footer>
