<footer>
  <div class="containers">
    <div class="logoContainer">
      <p>Powered by :</p>
      <img
        (click)="goToLink(0)"
        src="./../../assets/blue_square_2.svg"
        alt=""
      />
    </div>
    <div class="logoContainer">
      <p>Built by :</p>
      <img
        (click)="goToLink(1)"
        class="henryO_logo"
        src="./../../assets/henryO_logo.svg"
        alt=""
      />
    </div>
  </div>

  <p id="disclaimer">
    This product uses the TMDb API but is not endorsed or certified by TMDb
  </p>
</footer>
