footer {
  background: whitesmoke;
  padding: 10px 0px;
  margin-top: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  width: 30px;
}
.henryO_logo {
  width: 20px;
  border: 1px solid rgb(0, 0, 56);
  padding: 2px;
}
.containers {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3px;
}
nav {
  width: 100%;
}
ul {
  width: 100%;
  list-style: none;
}
a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
  padding: 20px;
  cursor: pointer;
}
a:hover {
  color: orange;
}
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.logoContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.logoContainer p {
  font-size: 15px;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  position: relative;
}
#disclaimer {
  font-size: 8px;
}
#version {
  position: absolute;
  font-size: 10px;
  bottom: 3px;
  right: 3px;
}
i {
  position: absolute;
  color: white;
  right: 60px;
  top: 40px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 60px;
  transform: rotate(-25deg);
  z-index: 0;
}
@media screen and (min-width: 718px) {
  .containers {
    width: 90%;
    z-index: 1;
    flex-direction: row;
  }
  .logos {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .logoContainer {
    justify-content: space-between;
  }
  .logoContainer + .logoContainer {
    margin-top: 15px;
  }
  img {
    width: 40px;
  }
  .henryO_logo {
    width: 30px;
    border: 2px solid rgb(0, 0, 56);
    padding: 4px;
  }
  a {
    margin: 2.5px 0px;
  }
  a:hover {
    color: orange;
  }
}
