button {
  width: 90%;
  height: 50px;
  background: #9c28b0;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.315);
  outline: none;
  color: #fdfffc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.ripple-container {
  width: 105%;
  height: 105%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonText {
  z-index: 1;
  font-family: "Raleway";
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.015);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animate-grad {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@media screen and (min-width: 718px) {
  button {
    width: 400px;
  }
  .buttonText {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
