body {
  height: 90vh;
  background: rgb(53, 53, 53);
}
i {
  margin: 100px;
  padding: 5px;
  color: white;
  border-radius: 10px;
  font-size: 40px;
  background: linear-gradient(to left top, lightblue, orange);
}
