<main>
  <app-button
    class="buttonComponent"
    [buttonTxt]="buttonText"
    (buttonClicked)="randomizeMovies()"
  ></app-button>
  <div class="collectionContainer" *ngIf="collection">
    <div class="movies">
      <h2>{{ movie.title }}</h2>
      <div class="controlsContainer">
        <p *ngIf="collection">
          Movies : <span>{{ total }}</span>
        </p>
        <i class="fas fa-sliders-h" (click)="toggleFilters()"></i>
        <!-- <button (click)="toggleFilters()">Filter</button> -->
      </div>
      <randomly-image-container
        [url]="movie.poster_path"
        className="large"
        borderColor="#44cf6c"
        [name]="movie.title"
      ></randomly-image-container>
      <h3>Overview</h3>
      <div class="paragraphContainer">
        <p>{{ movie.overview }}</p>
      </div>
    </div>
  </div>
  <randomly-collection-filter
    [ngClass]="seeFilters ? 'open' : 'close'"
    [movies]="movies"
    (closeClicked)="toggleFilters()"
    (updateFilters)="handleUpdate($event)"
  ></randomly-collection-filter>
</main>
