<body>
  <app-button
    class="buttonComponent"
    [buttonTxt]="buttonTxt"
    (buttonClicked)="getRandomEpisode()"
  ></app-button>
  <div class="episodeContainer" *ngIf="startRandom">
    <i class="fas fa-sync-alt" *ngIf="!foundRandomEpisode"></i>
    <div class="show" *ngIf="foundRandomEpisode">
      <div class="titleContainer">
        <h2>"{{ randomEpisode.name }}"</h2>
        <p>
          Season: {{ randomEpisode.season_number }}, Episode:
          {{ randomEpisode.episode_number }}
        </p>
      </div>
      <img src="{{ photoPath }}{{ randomEpisode.still_path }}" alt="" />

      <h3>
        Originally Aired:
        <span class="date">{{ randomEpisode.air_date | date }}</span>
      </h3>
      <h3>Description</h3>
      <p class="description">{{ randomEpisode.overview }}</p>
      <h3>Guest Stars</h3>
      <div class="guestStarContainer">
        <p *ngFor="let star of randomEpisode.guest_stars">{{ star.name }}</p>
      </div>
      <h3>Crew</h3>
      <p *ngFor="let crew of randomEpisode.crew" class="crew">
        <span>{{ crew.job }}</span> - {{ crew.name }}
      </p>
    </div>
  </div>
</body>
