body {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
.background-container {
  z-index: 0;
  width: 100%;
  height: 100%;
  margin: 10px 0px;
  background: rgba(255, 254, 254, 0.253);
}
.listContainer {
  width: 90%;
  border-radius: 20px;
  margin-top: 100px;
  height: 500px;
  overflow: scroll;
  z-index: 1;
  position: absolute;
  padding: 25px 5px;
  background: linear-gradient(to right, #9c28b0, #29489e);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa-times {
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 10px;
  color: rgba(255, 254, 254, 0.253);
}
.fa-times:hover {
  color: #44cf6c;
}
.buttonComponent {
  width: 80%;
  margin-bottom: 10px;
}
h3 {
  color: #44cf6c;
}
.placeholder {
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(255, 254, 254, 0.253);
  border-radius: 20px;
  margin: 10px 0px;
}
.movies {
  width: 80%;
  height: 150px;
  display: flex;
  margin: 5px 0px;
}
.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  position: relative;
}
.movieInfo h5 {
  color: #44cf6c;
  font-size: 20px;
  text-align: center;
}
.movieInfo i {
  font-size: 20px;
  margin-top: 5px;
  color: rgba(255, 254, 254, 0.253);
  position: absolute;
  bottom: 0;
  right: 0;
}
.fa-plus {
  font-size: 20px;
  color: rgba(255, 254, 254, 0.253);
  margin-top: 10px;
}
@media screen and (min-width: 718px) {
  .listContainer {
    width: 600px;
  }
  .buttonComponent {
    width: 400px;
  }
}
