<body>
  <randomly-slider
    leftChoice="SHOWS"
    rightChoice="MOVIES"
    [isFirst]="!movies"
    (onSlide)="toggleToMovie()"
  ></randomly-slider>

  <randomly-search-bar
    [placeholder]="placeholder"
    buttonTxt="Search"
    (search)="handleSearch($event)"
  ></randomly-search-bar>

  <h3>{{ title }}</h3>

  <randomly-poster-container
    *ngIf="!movies"
    [titles]="shows"
    [movieOrShow]="movies"
    (titleClicked)="handleClick($event)"
  ></randomly-poster-container>

  <randomly-poster-container
    *ngIf="movies"
    [titles]="collections"
    [movieOrShow]="movies"
    (titleClicked)="handleClick($event)"
  ></randomly-poster-container>

  <randomly-search-bar
    placeholder="Search Movie Collections"
    buttonTxt="Search Collections"
    (search)="searchCollection($event)"
  ></randomly-search-bar>

  <randomly-trending-carousel
    *ngIf="!movies"
    type="show"
    title="Shows"
    color="#44cf6c"
  ></randomly-trending-carousel>

  <randomly-trending-carousel
    *ngIf="movies"
    type="movie"
    title="Movies"
    color="#44cf6c"
  ></randomly-trending-carousel>

  <randomly-trending-carousel
    type="people"
    title="People"
    color="#fdfffc"
  ></randomly-trending-carousel>
</body>
