<body>
  <div class="sliderContainer" (click)="toggleToMovie()">
    <h3>SHOWS</h3>
    <h3>MOVIES</h3>
    <div class="slider" [ngClass]="movies ? 'movie' : 'show'"></div>
  </div>
  <form #searchForm="ngForm" (ngSubmit)="handleSearch(searchForm)">
    <label for="search"> Search: </label>
    <input type="text" name="search" [placeholder]="placeholder" ngModel />
    <button>Search</button>
  </form>

  <h3>{{ title }}</h3>

  <randomly-poster-container
    *ngIf="!movies"
    [titles]="shows"
    [movieOrShow]="movies"
    (titleClicked)="handleClick($event)"
  ></randomly-poster-container>
  <randomly-poster-container
    *ngIf="movies"
    [titles]="collections"
    [movieOrShow]="movies"
    (titleClicked)="handleClick($event)"
  ></randomly-poster-container>

  <form
    id="searchCollection"
    #searchCollectionForm="ngForm"
    *ngIf="movies"
    (ngSubmit)="searchCollection(searchCollectionForm)"
  >
    <label for="searchCollection">Search Collections</label>
    <input
      type="text"
      placeholder="Search Movie Collections"
      name="searchCollection"
      ngModel
    />
    <button>Search Collections</button>
  </form>
  <h3 *ngIf="!movies">Trending Shows</h3>
  <h3 *ngIf="movies">Trending Movies</h3>
  <div class="popularContainer" *ngIf="popularItems != undefined">
    <div class="item" *ngFor="let item of popularItems; index as i">
      <p>{{ i + 1 }}</p>
      <img
        [ngClass]="movies ? 'showBorder' : 'movieBorder'"
        src="{{ posterPath }}{{ item.poster_path }}"
        (click)="seeDetails(i)"
        alt=""
      />
    </div>
  </div>
</body>
