body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  position: relative;
  transition: all 1.75s ease-in-out;
  animation: fadeIn 1.5s ease-in-out forwards;
}

h3 {
  color: #44cf6c;
  text-align: center;
}

#title-animation {
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: fadeOut 5s linear forwards;
}
randomly-trending-carousel {
  margin-bottom: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@media screen and (min-width: 718px) {
  body {
    background: none;
  }

  h3 {
    font-size: 30px;
    margin: 10px 0px;
  }

  @keyframes skew {
    from {
      transform: scale(1.02) rotate(2deg);
    }
    to {
      transform: scale(1.02);
    }
  }
}
