.sliderContainer {
  width: 300px;
  height: 45px;
  border: 2px solid #44cf6c;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  overflow: hidden;
  margin: 15px 0px;
  background: rgb(185, 185, 185);
}
.slider {
  position: absolute;
  height: 100%;
  width: 50%;
  background: orange;
  transition: all 0.3s ease-in-out;
}
.sliderContainer h3 {
  /* padding: 0px 15px; */
  z-index: 1;
  color: #44cf6c;
}
.left {
  background: #29489e;
  /* background: #e15554; */
  left: 0;
}
.right {
  left: 50%;
  background: #9c28b0;
  /* background: #9dacff; */
}
