<body>
  <!-- <div class="developer-container">
    <div class="image-container-border">
      <div class="image-container"></div>
    </div>
    <div class="developer-container-info"></div>
  </div> -->
  <h1>Version History</h1>
  <div class="versionContainer" *ngFor="let version of versions; index as i">
    <div class="heading">
      <h3>{{ version.title }}</h3>
      <h3>{{ version.release }}</h3>
    </div>
    <ul>
      <li *ngFor="let item of version.items; index as i">{{ item }}</li>
    </ul>
  </div>
</body>
