.showContainer {
  width: 350px;
  background: none;
  padding: 3px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
  overflow: hidden;
  margin: 10px;
  border: 3px solid #44cf6c;
  border-radius: 20px;
}

@media screen and (min-width: 718px) {
  .showContainer {
    border: 5px solid rgba(255, 254, 254, 0.253);
    border-radius: 20px;
    width: 700px;
    background: none;
    margin-bottom: 20px;
  }
  .title:hover {
    animation: skew 0.5s ease-in-out forwards;
  }
  @keyframes skew {
    from {
      transform: scale(1.02) rotate(2deg);
    }
    to {
      transform: scale(1.02);
    }
  }
}
