body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  opacity: 0;
  filter: blur(10px);
  transform: translateX(10px);
  animation: growFade 1.5s ease-in-out forwards;
}
nav {
  width: 60%;
  height: 100%;
  background: linear-gradient(to bottom, whitesmoke 25%, lightblue);
  font-family: "Raleway";
}
main {
  width: 40%;
  background: transparent;
}
ul {
  padding: 10px 0px;
}
li {
  height: 30px;
  border-bottom: 3px solid white;
  padding: 10px 5px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
  text-align: center;
}
.active {
  background: lightblue;
}
.fa-times {
  width: 100%;
  height: 40px;
  font-size: 30px;
  padding-left: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: grey;
  transition: all 0.25s ease-in;
}
@keyframes growFade {
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@media screen and (min-width: 718px) {
  nav {
    width: 30%;
  }
  main {
    width: 70%;
  }
  li:hover {
    border-color: orange;
  }
  .fa-times {
    color: grey;
  }
  .fa-times:hover {
    color: orange;
  }
}
@media screen and (min-width: 1200px) {
  nav {
    width: 100%;
  }
  main {
    width: 0;
  }
  .fa-times {
    display: none;
  }
}
