<body>
  <div class="movieContainer" *ngIf="movie != undefined">
    <div class="imgContainer">
      <randomly-image-container
        *ngIf="movie"
        [url]="movie.poster_path"
        className="large"
        borderColor="#44cf6c"
        [name]="movie.name"
      ></randomly-image-container>
      <div id="score" [style.background]="color">
        <p title="{{ movie.vote_count }} votes">{{ movie.vote_average }}</p>
      </div>
    </div>
    <div class="showInfo">
      <h2>{{ movie.title }}</h2>
      <button (click)="addToCollection()">{{ buttonText }}</button>
      <p>{{ movie.overview }}</p>
      <p>
        Runtime : <span>{{ movie.runtime }}</span> Minutes
      </p>
    </div>
  </div>
  <div class="peopleContainer">
    <people-carousel
      class="peopleCarousel"
      typeOfId="Movie"
      title="Cast"
      [id]="id"
    ></people-carousel>
    <people-carousel
      class="peopleCarousel"
      typeOfId="Movie"
      title="Crew"
      [id]="id"
    ></people-carousel>
  </div>
  <!-- <div class="videosContainer" *ngIf="showVideos">
    <h3>{{ videoString }}</h3>
    <div class="videoContainers">
      <youtube-player
        class="video"
        *ngFor="let video of videos; index as i"
        videoId="{{ video.key }}"
        suggestedQuality="highres"
        [height]="145"
        [width]="290"
      >
      </youtube-player>
    </div>
  </div> -->
  <randomly-custom-collection
    *ngIf="seeCollection"
    class="custom-collection"
    (closeWindow)="closeCollectionView()"
  ></randomly-custom-collection>
</body>
