body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(10px);
  animation: fadeIn 1s ease-in forwards;
}
button {
  margin: 30px 0px;
  height: 50px;
  width: 80%;
  outline: none;
  background: white;
  border: 3px solid lightblue;
  border-radius: 10px;
  font-size: 18px;
  color: orange;
}
.movieContainer {
  margin: 40px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgContainer {
  position: relative;
}
people-carousel {
  margin-top: 20px;
  width: 95%;
}
img {
  border: 3px solid lightblue;
  border-radius: 20px;
  height: 250px;
}
#score {
  position: absolute;
  bottom: 0;
  right: -30px;
  border: 2px solid white;
  background: rgb(179, 179, 179);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showTotals {
  margin-top: 10px;
}
span {
  color: orange;
}
.description {
  text-indent: 10px;
  margin: 10px 0px;
}
.genres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
.networks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.networks span {
  color: black;
}
.network {
  border-radius: 0;
  width: 50px;
  border: none;
}
.videosContainer {
  display: none;
}
.listContainer {
  overflow: scroll;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  height: 100%;
  background: white;
  left: 0;
  transition: all 0.5s ease-in-out;
  border: 3px solid transparent;
}
.movies {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  padding: 5px;
  border: 2px solid orange;
  opacity: 0;
  filter: blur(10px);
  border-radius: 10px;
  animation: createNew 1s ease-in-out 0.25s forwards;
}
.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 5px;
  width: 90%;
  border: 2px solid whitesmoke;
  margin: 10px 0px;
  border-radius: 10px;
}
.movies h5 {
  flex: 1;
  text-align: center;
  overflow: hidden;
}
.collectionMovie {
  height: 100px;
}
.open {
  width: 310px;
  border-color: orange;
}
.close {
  width: 0;
  border-color: transparent;
}
.fa-trash-alt {
  font-size: 25px;
  color: lightblue;
}
.fa-trash-alt:hover {
  color: orange;
}
.fa-times-circle:hover {
  color: lightblue;
}
.fa-times-circle {
  margin: 10px;
  padding-left: 20px;
  font-size: 30px;
  color: orange;
  width: 100%;
  text-align: left;
}
.fa-chevron-circle-left {
  position: absolute;
  left: 10px;
  top: 10px;
  color: lightblue;
  font-size: 30px;
}
.fa-plus {
  font-size: 30px;
  color: lightblue;
}
.fa-plus:hover {
  color: orange;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
@keyframes createNew {
  to {
    opacity: 1;
    filter: blur(0);
    border-color: transparent;
  }
}
@media screen and (min-width: 718px) {
  body {
    background: none;
  }
  .movieContainer {
    width: 600px;
    background: white;
    border: 5px solid lightblue;
    border-radius: 20px;
    padding: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .open {
    width: 320px;
  }
  .close {
    width: 320px;
  }
  .fa-times-circle {
    visibility: hidden;
  }
}
