<body>
  <i class="fas fa-chevron-circle-left" (click)="navigateToSearch()"></i>
  <div class="movieContainer" *ngIf="movie != undefined">
    <div class="imgContainer">
      <randomly-image-container
        *ngIf="movie"
        [url]="movie.poster_path"
        className="large"
        [name]="movie.name"
      ></randomly-image-container>
      <div id="score" [style.background]="color">
        <p title="{{ movie.vote_count }} votes">{{ movie.vote_average }}</p>
      </div>
    </div>
    <div class="showInfo">
      <h2>{{ movie.title }}</h2>
      <button (click)="addToCollection()">{{ buttonText }}</button>
      <p>{{ movie.overview }}</p>
    </div>
  </div>
  <div class="videosContainer" *ngIf="showVideos">
    <h3>{{ videoString }}</h3>
    <div class="videoContainers">
      <youtube-player
        class="video"
        *ngFor="let video of videos; index as i"
        videoId="{{ video.key }}"
        suggestedQuality="highres"
        [height]="145"
        [width]="290"
      >
      </youtube-player>
    </div>
  </div>
  <div class="listContainer" [ngClass]="seeCollection ? 'open' : 'close'">
    <i class="fas fa-times-circle" (click)="closeCollectionView()"></i>
    <app-button
      class="buttonComponent"
      [buttonTxt]="buttonTxt"
      (buttonClicked)="randomizeMovie()"
    ></app-button>
    <!-- <button (click)=>Randomize Movie</button> -->
    <h3>Current List to Randomize</h3>
    <div class="placeholder" *ngIf="collection.length === 0">
      <p>No Items on the List</p>
    </div>
    <div class="movies" *ngFor="let item of collection; index as i">
      <img
        (click)="resetMovieToView(i)"
        src="{{ posterPath }}{{ item.poster_path }}"
        class="collectionMovie"
        alt="item.title"
      />
      <h5>{{ item.title }}</h5>
      <i class="fas fa-trash-alt" (click)="removeFromCollection(i)"></i>
    </div>
    <i class="fas fa-plus" (click)="navigateToSearch()"></i>
  </div>
</body>
