main {
  font-family: "Raleway", sans-serif;
  animation: fadeIn 0.5s ease-in forwards;
}
.profile-container {
  margin-top: 20px;
  width: 95%;
}
h1 {
  color: orange;
}
h2 {
  color: lightblue;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-container {
  width: 90%;
}
.info-container p {
  text-indent: 20px;
}
p {
  text-align: center;
}
.bio-container {
  max-height: 300px;
  padding: 5px;
  overflow: scroll;
  border-radius: 10px;
}
.bio-container p {
  text-align: initial;
}
.info-stat-container {
  margin: 20px;
  font-size: 17px;
}
.info-stat-container p {
  text-align: center;
}
span {
  color: lightblue;
  font-weight: bolder;
  padding-right: 10px;
}
.tv-credits {
  position: relative;
  animation: slideInLeft 0.25s linear forwards;
}
.movie-credits {
  position: relative;
  animation: slideInRight 0.25s linear forwards;
}

@keyframes slideInRight {
  from {
    filter: blur(10px);
    transform: translateX(-100px);
  }
  to {
    filter: blur(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    filter: blur(10px);
    transform: translateX(100px);
  }
  to {
    filter: blur(0);
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    filter: blur(10px);
    transform: translateY(10px);
  }
  to {
    filter: blur(0);
    transform: translateY(0);
  }
}
