main {
  font-family: "Raleway", sans-serif;
  animation: fadeIn 0.5s ease-in forwards;
  background: none;
  width: 100%;
}
.profile-container {
  margin-top: 20px;
  width: 100%;
}
h1 {
  color: #44cf6c;
}
h2 {
  color: #44cf6c;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-container {
  width: 90%;
}
.info-container p {
  text-indent: 20px;
}
p {
  text-align: center;
}
.bio-container {
  max-height: 300px;
  padding: 5px;
  overflow: scroll;
  border-radius: 10px;
}
.bio-container p {
  text-align: initial;
}
.info-stat-container {
  margin: 20px;
  font-size: 17px;
}
.info-stat-container p {
  text-align: center;
}
.icon-container {
  width: 80%;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
  border: 2px solid rgba(255, 254, 254, 0.253);
  margin-top: 5px;
  border-radius: 10px;
}
a {
  color: #44cf6c;
  font-size: 30px;
  text-decoration: none;
}

span {
  color: lightblue;
  font-weight: bolder;
  padding-right: 10px;
}
mat-tab-group {
  width: 90%;
  margin-top: 15px;
}

@keyframes slideInRight {
  from {
    filter: blur(10px);
    transform: translateX(-100px);
  }
  to {
    filter: blur(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    filter: blur(10px);
    transform: translateX(100px);
  }
  to {
    filter: blur(0);
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    filter: blur(10px);
    transform: translateY(10px);
  }
  to {
    filter: blur(0);
    transform: translateY(0);
  }
}
@media screen and (min-width: 718px) {
  .profile-container {
    flex-direction: row;
    width: 600px;
    padding: 10px;
    background: rgba(255, 254, 254, 0.253);
    border-radius: 20px;
    border: 5px solid #44cf6c;
  }
  a {
    color: lightblue;
  }
  a:hover {
    color: #44cf6c;
    transform: scale(1.2);
  }
  .bio-container {
    margin: 10px 0px;
  }
  mat-tab-group {
    width: 600px;
  }
  randomly-image-container {
    margin: 0px 20px;
  }
}
