footer {
  background: linear-gradient(to bottom right, #29489e, #9c28b0);
  padding: 10px 0px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  width: 30px;
}
nav {
  width: 100%;
}
.henryO_logo {
  width: 20px;
  border: 1px solid rgb(0, 0, 56);
  padding: 2px;
}
.containers {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3px;
}

ul {
  list-style: none;
}
li {
  width: 200px;
  height: 20px;
  color: lightblue;
}

a {
  color: rgba(255, 254, 254, 0.253);
  text-decoration: none;
  font-size: 15px;

  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
a:hover {
  color: #44cf6c;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.logoContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.logoContainer p {
  font-size: 15px;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  position: relative;
}
#disclaimer {
  font-size: 8px;
}
#version {
  position: absolute;
  font-size: 10px;
  bottom: 3px;
  right: 3px;
  outline: none;
}
i {
  position: absolute;
  color: #e15554;
  background: transparent;
  right: 60px;
  top: 40px;
  padding: 5px;
  border: 2px solid #e15554;
  border-radius: 10px;
  font-size: 60px;
  transform: rotate(-25deg);
  z-index: 0;
}
p {
  color: lightblue;
}
@media screen and (min-width: 718px) {
  .containers {
    width: 90%;
    z-index: 1;
    flex-direction: row;
  }
  .logos {
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-bottom: 20px;
  }
  nav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .logoContainer {
    justify-content: space-between;
  }
  .logoContainer + .logoContainer {
    margin-top: 15px;
  }
  img {
    width: 40px;
    cursor: pointer;
  }
  .henryO_logo {
    width: 30px;
    border: 2px solid rgb(0, 0, 56);
    padding: 4px;
  }
  a {
    margin: 2.5px 0px;
  }
}
