<main>
  <button (click)="randomizeMovies()">{{ buttonText }}</button>
  <div class="controlsContainer">
    <p *ngIf="collection">
      Movies : <span>{{ total }}</span>
    </p>
    <button (click)="toggleFilters()">Filter</button>
  </div>
  <div class="collectionContainer" *ngIf="collection">
    <div class="movies">
      <h2>{{ movie.title }}</h2>
      <img
        src="{{ posterPath }}{{ movie.poster_path }}"
        class="poster"
        alt="{{ movie.title }}"
      />
      <h5>Overview</h5>
      <div class="paragraphContainer">
        <p>{{ movie.overview }}</p>
      </div>
    </div>
  </div>
  <div class="filterContainer" [ngClass]="seeFilters ? 'open' : 'close'">
    <i class="fas fa-times-circle" (click)="toggleFilters()"></i>
    <h2>Movies to Randomize</h2>
    <div id="filters">
      <div class="movie" *ngFor="let film of movies; index as i">
        <div class="checkbox" (click)="checkMovie(i)">
          <i *ngIf="film.isChecked" class="fas fa-check"></i>
        </div>
        <h4>{{ film.title }}</h4>
      </div>
      <button (click)="applyFilters()">Apply Filter</button>
    </div>
  </div>
</main>
