<body>
  <form #searchForm="ngForm" (ngSubmit)="handleSearch(searchForm)">
    <label for="search"> Search: </label>
    <input
      type="text"
      name="search"
      placeholder="Search for New Show"
      ngModel
    />
    <button>Search</button>
  </form>
  <h3>Popular Shows</h3>
  <div class="showContainer">
    <div class="shows" *ngFor="let show of shows; index as i">
      <img
        class="showPoster"
        title="{{ show.title }}"
        src="{{ posterPath }}{{ show.poster_path }}"
        (click)="handleClick(i)"
        alt=""
      />
    </div>
  </div>
</body>
