body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
}
form {
  margin: 20px 0px;
  padding: 5px;
  background: white;
  border-radius: 15px;

  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  text-indent: -1000px;
}
input {
  outline: none;
  border: 2px solid orange;
  height: 35px;
  font-size: 20px;
  color: grey;
  border-radius: 5px;
  margin-right: 5px;
  text-indent: 5px;
}
.sliderContainer {
  width: 80%;
  height: 40px;
  border: 1px solid grey;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0px;
}
.slider {
  position: absolute;
  height: 100%;
  width: 50%;
  background: orange;
  transition: all 0.3s ease-in-out;
}
.show {
  background: orange;
  left: 0;
}
.movie {
  left: 50%;
  background: lightblue;
}
.sliderContainer h3 {
  /* padding: 0px 20px; */
  z-index: 1;
}
button {
  height: 40px;
  color: grey;
  background: orange;
  font-size: 18px;
  outline: none;
  border: 2px solid orange;
  border-radius: 5px;
  width: 80px;
}
img {
  width: 100px;
  margin: 10px;
  border: 3px solid orange;
  border-radius: 20px;
}
.showContainer {
  width: 350px;

  background: white;
  padding: 3px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h3 {
  color: grey;
  text-align: center;
}
#searchCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
#searchCollection button {
  width: 92.5%;
  background: lightblue;
  border-color: lightblue;
  margin: 5px 0px;
}
#searchCollection input {
  width: 90%;
  margin: 0;
  border-color: lightblue;
}
.popularContainer {
  width: 90%;
  overflow: scroll;
  display: flex;
  align-items: center;
  margin: 10px 0px 30px 0px;
}
.item {
  position: relative;
}
.item p {
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: lightblue;
  position: absolute;
}
@media screen and (min-width: 718px) {
  body {
    background: linear-gradient(
      to bottom,
      orange 50%,
      lightblue 50%,
      lightblue 52%,
      white 52%
    );
    overflow: scroll;
  }
  form {
    width: 600px;
    border: 5px solid lightblue;
    padding: 10px;
    border-radius: 20px;

    background: white;
  }
  form input {
    width: 70%;
  }
  form button {
    width: 30%;
  }
  .showContainer {
    border: 5px solid lightblue;
    border-radius: 20px;
    width: 700px;
    background: white;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 30px;
    margin: 10px 0px;
  }
  .sliderContainer {
    width: 400px;
    height: 60px;
    background: white;
    border-width: 3px;
  }
  .popularContainer {
    width: 700px;
    border: 5px solid lightblue;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 100px;
  }
  #searchCollection {
    width: 600px;
    border: none;
    flex-direction: row;
  }
  #searchCollection button {
    width: 30%;
    margin: 5px 3px;
  }
  #searchCollection input {
    width: 70%;
  }
  .shows:hover,
  .item:hover {
    animation: skew 0.5s ease-in-out forwards;
  }
  @keyframes skew {
    from {
      transform: scale(1.02) rotate(2deg);
    }
    to {
      transform: scale(1.02);
    }
  }
}
