<main>
  <form #searchForm="ngForm" (ngSubmit)="searchCollections(searchForm)">
    <label for="search">Search : </label>
    <input type="text" name="search" placeholder="Search Collections" ngModel />
    <button>Search</button>
  </form>
  <h4>{{ resultsString }}</h4>
  <i class="fas fa-sync-alt" *ngIf="loading"></i>
  <div class="spaceHolder" *ngIf="!searchResults"></div>
  <div class="resultsContainer" *ngIf="searchResults">
    <div class="results" *ngFor="let result of searchResults; index as i">
      <img
        src="{{ posterPath }}{{ result.poster_path }}"
        title="{{ result.title }}"
        alt=""
        (click)="navigateToDetails(i)"
      />
    </div>
  </div>
</main>
