main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
.credit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-bottom: 2px solid whitesmoke;
  padding: 3px;
  margin-top: 15px;
}
.buttonComponent {
  width: 90%;
}
.info-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

h3 {
  text-align: center;
  color: orange;
  padding-bottom: 15px;
}
p {
  padding-bottom: 5px;
  color: lightblue;
}

@media screen and (min-width: 718px) {
  randomly-image-container:hover {
    animation: skew 0.5s ease-in-out forwards;
  }
  #randomMovieButton {
    width: 300px;
  }
  @keyframes skew {
    from {
      transform: scale(1.02) rotate(2deg);
    }
    to {
      transform: scale(1.02);
    }
  }
}
